html{
    box-sizing:border-box;
}

*{
	padding:0;
	margin:0;
    box-sizing:inherit;
}

#aussen{
	border:5px dotted black;
    max-width: 960px;
    margin: 30px auto;
}

header{
	background:rgba(255,0,0,0.75);
    text-align: right;
}

header h1{                                                                                  /*??????????????????*/
    font-size: 2.125rem;
    padding:2.8125rem 2.5rem 0; /*45px 40px 0, oben re/li unten*/
    min-height:8.125rem; /*130px*/
}

nav{
	background:rgba(0,255,0,0.75);
}

nav ul{
list-style:none;
}

main{
	background:rgba(0,0,255,0.75);
    display:block;
    min-height:500px;
    /*border:5px solid red;*/
    padding:40px 30px;
    /*width:960px;*/
}