html{
    box-sizing: border-box; /*inkludiert margin + padding in Container-Größe*/
    min-height: 100%;
    overflow: scroll; /*alternativ: overflow-x:scroll; overflow-y:scroll; = Verhalten von zu langen Container-Inhalten*/
}

*, *::before, *::after{
	box-sizing: inherit;
    padding: 0;
	margin: 0;
}

body{
    font-family: "Segoe UI", Segoe, Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 17px;
    background: linear-gradient(to bottom, #d6dbba 0%,#7f8947 100%);
}

/*Layout*/

#aussen{
    max-width: 960px;
    margin: 30px auto;
}

header{
	background: url(../bilder/hintergrund_oben.jpg);
    background-size: cover; /*Browser passt Bild an Viewport an, wirkt dynamisch und schick, aber Bild muss groß genug sein, sonst verpixelt*/
    text-align: right;
}

header p{
    font-size: 34px;
    padding: 45px 40px 0; /*oben re/li unten*/
    min-height: 130px;
    color: #ddd7c1;
    font-weight: normal;
    text-shadow: #000 2px 1px 1px;
}

footer{
    background-color: rgba(220,220,220,0.75);
    box-shadow: inset 0 0 66px #ddd;
    padding: 10px 25px;
    text-align: right;
}

#footer a:link, #footer a:visited{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 15px;
}

#footer a:hover, #footer a:focus, #footer a:active{
    background: #585b6a;
    color: #fff;
    text-decoration: none;
    outline: none;
}

/*Navigationsleiste bzw. Menü*/

nav{
	/*background: rgba(0,255,0,0.75);
    padding: 8px;*/
    overflow: hidden;
}

nav ul{ /*Alle Listen IN nav*/
    list-style: none; /*Listenpunkt abschalten*/
    float: right;
    background: #585b6a;
}

nav li{
    float: left;
}

/*Jedes zweite Listenelement*/
/*
nav li:nth-child(2n){
    background:pink;
}
*/

nav a, nav strong{ /*Alle Links IN nav (und nicht im Text)*/
    text-decoration: none;
    padding: 8px 24px;
    float: left;
}

nav a:link, nav a:visited{ /*Linkzustände*/
    color: #ddd7c1;
    background: #585b6a;
}

nav a:focus, nav a:hover, nav a:active, nav strong{
    color: #32364a;
    background-color: #ffbf00;
    outline: none;
}

/*Inhalte*/

main{
	background: #fff;
    display: block;
    min-height: 500px;
    padding: 40px 30px;
}

/* Hintergrund (Weingläser) für Kontaktformular
#kontakt{
    background-image: url(../bilder/glaeser_min.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
*/

main h1{
    margin-bottom: 16px;
    color: #32364a;
    font-size: 34px;
}

h2, h3, p, blockquote, figure{
    margin-bottom: 16px;
}

h2{
    font-size: 24px;
    color: #32364A;
}

h3{
    color: #32364A;
    font-size: 20px;
}

p abbr{
    font-weight: bold;
}

.grauer-kasten{
    /*border: 1px dotted #32364a;*/
    padding: 1.706em;
    box-shadow: inset 0 0 4.117em #ddd;
    border-radius: 0.2353em;
    margin-bottom: 1em;
}

.mit-hintergrund{
    margin-top: 20px;
    padding: 20px;
    box-shadow: inset 0 0 4.117em #ddd;
    border-radius: 0.2353em;
    margin-bottom: 1em;
}

b{
    color: #32364a;
}

/*Links*/

a{
    font-weight: bold;
}

a:link{
    color: #000;
}

a:visited{
    color: #666;
}

a:focus, a:hover, a:active{
    background: #585b6a;
    color: #fff;
    text-decoration: none;
    outline: none;
}

/*Bilder*/

figcaption{
    margin-top: 8px;
    font-style: italic;

}

img{
    max-width: 100%;
    height: auto;
}

.bildergalerie{
    text-align: center;
}

.stehtlinks{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.stehtrechts{
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 4px;
}

.float-stop{
    clear: both;
}

.abgerundet{
    border-radius: 4px;
    float: left;
    margin-right: 5px;
}

.adresse-zeiten{
    float: left;
    margin-right: 70px;
    margin-bottom: 30px;
}

/*Formulare*/

form{
    margin-bottom: 20px;
}

input, textarea{
    border: 1px solid rgba(220,220,220,0.75);
    font: inherit; /*Vererbt vom Elternelement <body>*/
    background-color: rgba(220,220,220,0.75); /*Rotanteil, Grünanteil, Blauanteil, Deckkraft 75%*/
    border-radius: 5px;
    padding: 7px;
    outline:none;
}

input:focus, input:active, textarea:focus, textarea:active{
    background-color: #fff;
    border: 1px solid;
}

input[type=submit]{
    background-color: #ffbf00;
    color: #32364a;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: auto;
}

input[type=submit]:focus, input[type=submit]:active{
    background-color: #7f8947c5;
}

/*Tabellen*/

table{
    height: 20em;
    border-width: 1px;
    border-style: solid;
    border-color: #999; /*kurz: border:1px solid #999;*/
    border-collapse: collapse; /*border-collaps nur in Verbindung mit table, lässt Rahmen zusammenfallen. Gegenteil: border-collapse:separated;*/
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

th, td{
    padding: 0.5em;
    border: 1px solid #999;
}

th{
    font-size: large;
    width: auto;
    text-align: left;
    color: #32364a;
    background-color: #ffbf00e5;
    border-bottom: 3px solid #999;
}

tbody td{ /*alle td in tbody*/
    vertical-align: top;
    background: #efefef;
}

tfoot td{
    font-size: 14.5px;
    background: #efefef;
    text-align: right;
}
   